.idea
hw1/answer/.ipynb_checkpoints/

*.magnitude

hw2/data/glove.6B.100d.retrofit.txt

*.tar

hw3/data/train.txt

*.pt

project/bert/.ipynb_checkpoints/

*.csv

project/lstm/.ipynb_checkpoints/

project/lstm/results/.ipynb_checkpoints/

project/nyt/.ipynb_checkpoints/

project/result_visualizations/.ipynb_checkpoints/

project/training_data_formulation/.ipynb_checkpoints/

project/twitter/.ipynb_checkpoints/

*.h5

project/lstm/logdir/plugins/profile/2023_04_01_11_37_32/

project/.ipynb_checkpoints/

*.zip

project/bert/__pycache__/

project/result_visualizations/__pycache__/
